<section>
  <div id ="landing" class="jumbotron text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 opaque_div" > 
        <h1>Gray Road Coffee Management Portal</h1>
          <hr>
          <p class="lead">
          Gray Road Coffee Company  <em> est. 2016 </em>
          </p>
      </div>
      <br>
        
    </div>
  </div>
    <div class="row">
    <div class="col-md-3">
      <h2><strong>C</strong>ustomers</h2>
      <p>Our customers are the heart of our business..</p>
      
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>mpolyees</h2>
      <p>Manage employee profiles, track hire and birth dates and other key infomation.  </p>
       

    </div>
    <div class="col-md-3">
      <h2><strong>P</strong>roducts</h2>
      <p>This area can be customized to highlight key product information. </p>
     
   
    </div>
    <div class="col-md-3">
      <h2><strong>D</strong>epartments</h2>
      <p>Quickly monitor department sales and productivity across your business. </p>

      
    </div>
  </div>

  </div>
    <div class="row">
    <div class="col-md-3">
     
        <p><b><u>Recent Customer Purchases</u></b></p>
        <p data-ng-repeat="customer in vm.customers | limitTo:3 | orderBy:lastpurchase">
        {{customer.name}} - {{customer.lastpurchase| date}}<em>{{}}</em>
        </p> 
    </div>
    <div class="col-md-3">
     
        <p><b><u>Newest Hires</u></b></p>
        <p data-ng-repeat="employee in vm.employees | limitTo:3 | orderBy:date ">
        {{employee.name}} - <em>{{employee.hiredate | date:short}}</em>
        </p>  

    </div>
    <div class="col-md-3">
      
      <p> <b> <u>Low Inventory Items</u></b></p>
      <p data-ng-repeat="product in vm.products | limitTo:3 | orderBy:'inventory'">
       {{product.name}} - <em>{{product.inventory}} available</em></p>
    
    </div>

    <div class="col-md-3">
        <p><b><u>Sales by Department </u></b></p>
        <p data-ng-repeat="department in vm.departments | limitTo:3">
        {{department.name}} - <em>{{department.sales|currency}}</em>
        </p> 
    </div>
  </div>
  
 
</section>
