<section>
  <div class="page-header">
  <div><img style="width: 100px; height: 100px; border-radius: 50px; display: inline" src='http://data-ng-bind="vm.product.imgsrc"'></div>
    <h1 data-ng-bind="vm.product.name"></h1>
    <hr>

    <p><b>Manufacturer</b></p>
    <p data-ng-bind="vm.product.manufacturer"></p>
    <p><b>Description</b></p>
    <p data-ng-bind="vm.product.description"></p>
    <p><b>Department</b></p>
    <p data-ng-bind="vm.product.department"></p>
    <p><b>Price</b></p>
    <p data-ng-bind="vm.product.price | currency: $"></p>
    <p><b>Cost</b></p>
    <p data-ng-bind="vm.product.cost | currency: $"></p>
    <p><b>Quantity in stock</b></p>
    <p data-ng-bind="vm.product.inventory"></p>

  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.product.user"
            data-ng-bind="vm.product.user.displayName"></span>
      <span data-ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.product.content"></p>
</section>
